@using PaupWebDucan.Models
@model Proizvod
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.NoviProizvod)
{
    <h2>Unos novog proizvoda</h2>
}
else
{
    <h2>Ažuriranje podataka o proizvodu</h2>
    <h3>@Model.ImeProizvoda (@Model.SkladisniBroj)</h3>
}

@using (Html.BeginForm("Azuriraj", "Proizvodi", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "Ispravite podatke!");

    <div class="form-group">
        @Html.LabelFor(model => model.SkladisniBroj, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.SkladisniBroj, new { diabled = true, @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImeProizvoda, new {@class="col-sm-2 control-label"})
        <div>
            @Html.TextBoxFor(model => model.ImeProizvoda, new {@class="form-control"})
            @Html.ValidationMessageFor(model => model.ImeProizvoda,"", new {@class="form-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BojaProizvoda, new {@class="col-sm-2 control-label"})
        <div>
            @Html.TextBoxFor(model => model.BojaProizvoda, new {@class="form-control"})
            @Html.ValidationMessageFor(model => model.BojaProizvoda,"", new {@class="form-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ostecen, new {@class="col-sm-2 control-label"})
        <div class="col-sm-10">
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.Ostecen, "D") Da
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.Ostecen, "N") Ne
            </label>
                @Html.ValidationMessageFor(model => model.Ostecen)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DatumProizvodnje, new {@class="col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.EditorFor(model => model.DatumProizvodnje, new {@class ="form-control"})
            @Html.ValidationMessageFor(model => model.DatumProizvodnje, "", new {@class="text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.KontrolniBroj, new {@class="col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.KontrolniBroj, new { @class="form-control"})
            @Html.ValidationMessageFor(model => model.KontrolniBroj, "", new {@class="text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GodinaModela, new {@class="col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.GodinaModela, new {@class="form-control"})
            @Html.ValidationMessageFor(model => model.GodinaModela, "", new {@class="text-danger"})
        </div>
    </div>

    <div>
        @Html.LabelFor(model => model.Dostupnost, new {@class="col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.CheckBoxFor(model => model.Dostupnost)
            @Html.ValidationMessageFor(model => model.Dostupnost, "", new {@class="text-danger"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="false"></span> Spremanje podataka
            </button>
        </div>
    </div>
}

@Html.ActionLink("Povratak bez spremanja", "PopisProizvoda","Proizvodi")
