@using PaupWebDucan.Models
@model Proizvod

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

Jeste li sigurni da želite izbrisati proizvod @Model.ImeKontrolniBroj (Skladisni broj: @Model.SkladisniBroj) ?

@using (Html.BeginForm("Brisi", "Proizvodi"))
{
    @Html.AntiForgeryToken();

    <input type="submit" title="Izbriši proizvod" />

    <br/>
    <br/>

    @Html.ActionLink("Odustani", "PopisProizvoda");
}

