@using PaupWebDucan.Models
@model List<Proizvod>
@{
    ViewBag.Title = "Popis proizvoda u prodaji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Popis proizvoda u prodaji</h2>

<table border="1">
    <tr>
        <th>Skladisni broj</th>
        <th>Ime proizvoda</th>
        <th>Boja proizvoda</th>
        <th>Kontrolni broj</th>
        <th>Oštećen</th>
        <th>Detalji</th>
        <th>Ažuriranje</th>
    </tr>
    @foreach (var proizvod in Model)
    {
        <tr>
            <td>@proizvod.SkladisniBroj</td>
            <td>@proizvod.ImeProizvoda</td>
            <td>@proizvod.BojaProizvoda</td>
            <td>@proizvod.KontrolniBroj</td>
            <td>@Html.CheckBox("chbOstecen", proizvod.Ostecen)</td>
            <td>@Html.ActionLink("Informacije", "Detalji", new { id = proizvod.SkladisniBroj})</td>
            <td>@Html.ActionLink("Ažuriraj","Azuriraj", new { id=proizvod.SkladisniBroj})</td>
        </tr>
    }
</table>

